

      /* css */
.signUp-h{
  text-align: center;
  color: indigo;
}      
.signUpInputs{
  width: 500px;
  margin: auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  /* background-color: rgba(0, 0, 0, 0.05); */
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inputSignUp{
  width: 90%;
  font-size: 18px;
  margin: 20px;

}
.inputSignUp input{
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #dadada;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.signUpBtn{
  background-color: indigo;
  color: gold;
  border: none;
  padding: 8px;
  width: 35%;
  cursor: pointer;
  border-radius: 8px;
}
.signUpLink{
  margin: 10%;
  color: indigo;
}


    /* signIn */


.signInInputs{
  margin-top: 60px;
  min-height: 300px;
}    
.signInLink{
  margin: 15%;
  color: indigo;
}


      /* contact-us */

      
.contactUs-main{
  display: flex;
  margin: auto;
  width: 1000px;
  min-height: 150px;
}
.contactUs{
  margin: 20px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
border-radius: 8px;
}
.contactUs h4, p{
  margin: 10px;
  margin-left: 20px;
}
      /* section-2 */
.contactUs-SecTwo{
  width: 50rem;
  margin: auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.contactUs-SecTwo h3{
color: indigo;
padding: 40px;
padding-bottom: 0px;
}
.contactSecTwoInputs{
  display: flex;
  padding: 20px;
  justify-content: center;
}
.contactInputs input{
  margin: 20px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.textArea-main{
  text-align: center;
}
.contactTextArea{
  width: 85%;
  margin: 15px;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.contactSubmitBtn{
  background-color: indigo;
  color: gold;
  border: none;
  margin: 3.5rem;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 8px;
}